@{
    ViewData["Title"] = "Home Page";
    var message = TempData["Msg"]?.ToString() ?? "";
}

@if (!string.IsNullOrWhiteSpace(message)) {
    <div class="alert alert-primary" role="alert"> @message </div>
}

<div class="text-center">
    <h1 class="display-4">Курсовая</h1>
    <p>Данильченко Александр Владимирович ИУ3-52Б.</p>
    <img src="https://st3.depositphotos.com/2289871/15943/i/600/depositphotos_159430652-stock-photo-cute-tabby-kittens-sleeping-and.jpg" alt="котята">
</div>